.aplayer {
  background: transparent !important;
}

.aplayer-body {
  background-color: rgba(255, 255, 255, 0.7);
  right: -230px !important;
  transition: right 1.2s !important;
}

.aplayer-body:hover {
  right: 0px !important;
}

.aplayer-list {
  background-color: rgba(255, 255, 255, 0.7);
}